<div class="footer-container">
  <div class="middle-wrapper">
    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <a href="https://owasp.org" target="_blank">
          <img src="assets/img/owasp-logo.png" width="160" height="48" alt="OWASP">
        </a>
        <p class="text">We share their mission to use, strengthen, and advocate for secure coding standards into every piece of software we develop.</p>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        <div class="link-container">
          <a href="https://github.com/IvanKarleone" target="_blank">
            <img  class="icon" src="assets/img/github.svg" width="24" height="24" alt="github">
          </a>
        </div>
        <div class="link-container">
          <a href="https://vk.com/id45617887" target="_blank">
            <img  class="icon" src="assets/img/vk.svg" width="24" height="24" alt="vk">
          </a>
        </div>
        <div class="link-container">
          <a routerLink="/contact">
            <img  class="icon" src="assets/img/contact.svg" width="24" height="24" alt="contact">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
