@import "../../../scss/variables";

.header-container {
  position: sticky;
  top: 0;
  background: $black;
  border-bottom: $border-bottom;
  z-index: 1;

  .navbar-brand, .nav-item {
    cursor: pointer;
  }

  .navbar-brand {
    color: $green;
    font-weight: 500;
  }

  .navbar-nav {
    margin-left: auto;

    .nav-link {
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }

  .login-btn, .logout-btn {
    margin-left: 15px;
    background: $dark-green;
    color: white;
    font-size: inherit;
    text-transform: uppercase;
  }
}

.user-menu-main-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  .user-menu-icon {
    color: $white;
    transition: color 0.15s ease 0s;

    &:hover {
      color: $green;
    }
  }
}

.user-menu-btn {
  display: flex;
  align-items: center;
  padding-right: 45px;
  color: $black;
}
