<app-header></app-header>
<div class="login">
  <div class="login-container">
    <img src="assets/img/detective.svg" height="170" width="100" alt="search threats">
    <form class="form" [formGroup]="form">
      <div class="form-email-container">
        <span class="label">Email:</span>
        <input class="input" type="email" [formControl]="email" (keydown.enter)="onSubmit()" maxlength="255">
        <mat-error *ngIf="email.touched && email.invalid">{{getErrorMessage(email, 'Email')}}</mat-error>
      </div>
      <div class="form-password-container">
        <span class="label">Password:</span>
        <input class="input" type="password" [formControl]="password" (keydown.enter)="onSubmit()" maxlength="255">
        <mat-error *ngIf="password.touched && password.invalid">{{getErrorMessage(password, 'Password')}}</mat-error>
      </div>
      <button type="submit" class="form-element submit-btn btn" [class.disabled-btn]="form.invalid" (click)="onSubmit()">Log in</button>
      <p *ngIf="!isCorrectCredentials" class="not-correct-credentials">User email or password is not correct</p>
    </form>
  </div>
</div>
