@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../scss/variables";

app-root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $black;
}

.bold {
  font-weight: 600;
}
