@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../scss/variables";

app-root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $black;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .app-header-container {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .app-header-container, .app-footer-container {
    flex-grow: 0;
  }

  .app-page-content-container {
    flex-grow: 1;
  }
}

.bold {
  font-weight: 600;
}

.submit-btn {
  background: $dark-green;
  color: $white;

  &:hover {
    color: $white;
  }
}

.disabled-btn {
  background: #aba7a7;
  color: $white;
  cursor: default !important;

  &:hover {
    color: $white;
  }
}

.btn:focus {
  box-shadow: none !important;
}
