@import "../../../scss/variables";

:host {
  .description-container {
    padding: $main-padding;
    background: $black;

    .title {
      color: $white;
      font-weight: 500;
    }

    .description {
      margin: 15px 0;
      color: $green;
    }

    .description-btn {
      background: $black;
      color: $white;
      border: 2px solid $white;
      text-transform: uppercase;
      font-size: inherit;

      &:hover {
        background: $white;
        color: $black;
      }
    }
  }

  .use-cases-container {
    padding: $main-padding;

    .description {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}
