<main>
  <div class="description-container">
    <div class="middle-wrapper">
      <div class="row">
        <div class="col-6">
          <h2 class="title">Simplify the security assessment process with hosted vulnerability scanners</h2>
          <p class="description">From attack surface discovery to vulnerability identification, actionable network intelligence for IT & security operations.</p>
          <div class="description-btns-container">
            <button type="button" class="btn description-btn me-3" routerLink="/scan">Scan</button>
            <button type="button" class="btn description-btn" routerLink="/threats">Threats</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="use-cases-container">
    <div class="middle-wrapper">
      <h2 class="text-center bold">Online Vulnerability Scanners</h2>
      <p class="text-center description">Proactively hunt for security weakness. Pivot from attack surface discovery to vulnerability identification.</p>
      <div class="row">
        <div class="col-4">
          <app-card
            icon="work"
            title="Trusted Tools"
            text="Find security holes with trusted open source tools. Get access to tools used by penetration testers and security professionals around the world."
          ></app-card>
        </div>
        <div class="col-4">
          <app-card
            icon="track_changes"
            title="Attacker Focused"
            text="Hunt vulnerabilities from the attackers perspective. Simulating real world security events, testing vulnerabilities and incident response."
          ></app-card>
        </div>
        <div class="col-4">
          <app-card
            icon="search"
            title="Know your Network"
            text="Discover the attack surface with tools and open source intelligence. Protect your network with improved visibility."
          ></app-card>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4">
          <app-card
            icon="report"
            title="Check Blacklist Status"
            text="See if your website is blacklisted by website security authorities such as Google, PhishTank, etc."
          ></app-card>
        </div>
        <div class="col-4">
          <app-card
            icon="bug_report"
            title="Find the Problem"
            text="Fixing security issues requires you find them. Identify the issue, re-mediate the risk and test again to be sure."
          ></app-card>
        </div>
        <div class="col-4">
          <app-card
            icon="dns"
            title="Performance"
            text="Fast servers optimized for vulnerability scanning across the Internet. No maintenance or installation required."
          ></app-card>
        </div>
      </div>
    </div>
  </div>
</main>
